<?xml version="1.0" encoding="utf-8"?>
<form>
	<fieldset>
		<field
			name="category_id"
			type="sql"
			label="Category to change to"
			description="JOPTION_FILTER_CATEGORY_DESC"
			query="SELECT id, name FROM #__gwc_action_categories"
			key_field="id"
			value_field="name"
			/>
			<field name="delete_category" type="checkbox" label="Delete this category" description="Deletes this category after re-assigning it's actions." value="1" />

	
	</fieldset>
</form>
